{% extends "base.html" %}

{% block title %}Furusato Design{% endblock %}

{% block style %}

a#home {
	background: rgba(var(--mainThemeColor));
}

{% endblock %}

{% block body %}

	<div class="homeHeader">
		<img src="/static/img/photography/treesky.jpg" alt="">
		<section class="logoText">
			<h1>FURUSATO DESIGN</h1>
		</section>
	</div>

	<section class="homeSection" style="margin-top: 100px;">
		<div class="homeText">
			Photography
		</div>
		<div class="homeGridContainer">
			<div class="homeGridItem"></div>
			<div class="homeGridItem"></div>
			<div class="homeGridItem"></div>
		</div>
	</section>

	<section class="homeSection">
		<div class="homeText">
			Interior
		</div>
		<div class="homeGridContainer">
			<div class="homeGridItem"></div>
			<div class="homeGridItem"></div>
			<div class="homeGridItem"></div>
		</div>
	</section>

	<section class="homeSection">
		<div class="homeText">
			Fashion
		</div>
		<div class="homeGridContainer">
			<div class="homeGridItem"></div>
			<div class="homeGridItem"></div>
			<div class="homeGridItem"></div>
		</div>
	</section>






{% endblock %}
