{% extends "base.html" %}

{% block title %}Furusato Design{% endblock %}

{% block style %}


.navbarGridContainer {
	position: relative;
}
a#interior {
	background: rgba(var(--mainThemeColor));
}

{% endblock %}

{% block body %}

	<div id="imgGridContainer">
		<section id="stickyButtonBox">	
			<button id="grid2" class="gridColumnsButton">TWO</button>
			<button id="grid3" class="gridColumnsButton">THREE</button>
			<button id="grid4" class="gridColumnsButton">FOUR</button>

		</section>

		<img src="/static/img/interior/002-01_Shikatsuno_Transparent.png" alt="" class="imgGridItem">

		
	</div>

	<section id="modalView" class="modalView">

		<div id="modalBackground" class="center">
			<div id="modalContent" class="center">
				<div id="modalLeftArrowBox" class="modalArrowBox center">
					<div id="modalLeftArrow"></div>
				</div>
				<img id="modalImg" class="modalImg" src="" alt="" style="padding: 0 100px">
				<div id="modalRightArrowBox" class="modalArrowBox center">
					<div id="modalRightArrow"></div>
				</div>
			</div>
		</div>
		<div id="closeModalButton" class="center">
			<div id="closeButtonCross1" class="closeButtonCross"></div>
			<div id="closeButtonCross2" class="closeButtonCross"></div>
		</div>
	</section>



{% endblock %}
