{% extends "base.html" %}

{% block title %}FlexBox{% endblock %}


{% block style %}
	.navbar a.flexbox:link, a.flexbox:visited {background-color: grey}
	body {background-color: olive;}

{% endblock %}


{% block body %}

	<div class="imageContainer">
		<div class="rightContainer">
			<img src="/static/img/Mushroom.jpg" alt="Mushroom" width="300" height="200" style="padding: 10px">
			<img src="/static/img/Sun.jpg" width="300" height="200" style="padding: 10px">
		</div>
		<div class="leftContainer">
			<img src="/static/img/Susuki.jpg" width="300" height="200" style="padding: 10px">
			<img src="/static/img/Sand.jpg" width="300" height="200" style="padding: 10px">
		</div>
	</div>
{% endblock %}