<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<title>{% block title %}{% endblock %}</title>
	{% block head %}{% endblock %}
	<link id="pagestyle" rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">
	<style>{% block style %}{% endblock %}</style>
</head>
<body>
	<div class="navbar" id="navbarid">
		<a class="home" href="/">Home</a>
		<a class="flexbox" href="/flexbox">FlexBox</a>
		<a class="toggle" href="/toggle">Toggle</a>
		<a class="grid" href="/grid">Grid</a>
		<a class="#3" href="#3">Link 3</a>
	</div>
	


	{% block body %}{% endblock %}

</body>
</html>