{% extends "base.html" %}

{% block title %}FlexBox{% endblock %}


{% block style %}
	.navbar a.flexbox:link, a.flexbox:visited {background-color: grey}
	.navbar {margin-bottom: 0px}

{% endblock %}


{% block body %}


	<div class="image">
		<div class="container" style="position: sticky">
			<a href="/home"><div class="item">left</div></a>
			<a href="/home"><div class="item">center</div></a>
			<a href="/home"><div class="item">right</div></a>
		</div>
		<h2 class="maintext">This is a flexbox menu!</h2>
	</div>
{% endblock %}