/* StyleSheet */
html, body {
	background: black;
	color: white;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 15vh;
	background: rgba(50, 100, 50, 0.8);
}
img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}



.homeHeader {
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
}



/* ### HOME PAGE ### */
/* Navbar styling 



.navbarGridContainer {
	display: grid;
	grid-template-columns: 150px 1fr 1fr 1fr 1fr 1fr 1fr 150px;

	width: 100%;
	position: absolute;
	top: 0;
	background: rgba(50, 100, 50, 0.7);

}

.navbarGridContainer > a {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;

	text-decoration: none;
	font: 1.5rem Times;
	color: white;
	padding: 10px 20px;

	height: 5vh;
}

.navbarGridContainer a:hover {
	background: rgba(25, 50, 25, 0.5);
	font-size: 1.8rem;
	transition: 0.3s;
}
*/



/* Explanation of the different sections of the page, and links to them.

.homeSection {
	width: 100%;
	background: red;
	box-sizing: border-box;
	padding-top: 50px;
}

.homeText {
	text-align: center;
	font: 2em Georgia;
	padding: 5px;
}

.homeGridContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 3px;

	margin: 0px 200px;
	background: black;
}

.homeGridItem {
	background: orange;
	height: 500px;
}
*/



/* PHOTO GALLERY */
/* Grid for Images. The different display layout options are all done from Javascript */

.imgGridContainer {
	display: grid;
	box-sizing: border-box;
	grid-gap: 2vw;
	height: auto;
	padding: 2vw;
	background: rgb(20 20 20);
	position: relative;
	grid-template-columns: repeat(3, 1fr)
}

.imgGridItem {
	width: 100%;
	height: auto;
	box-sizing: border-box;
}


/* Buttons to toggle between the different display options.
And also to make the toggle buttons sticky once reaching the photos */

.stickyButtonBox {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	position: absolute;
<<<<<<< Updated upstream
	top: 50px;
=======
	top: 70px;
>>>>>>> Stashed changes
	right: 50px;

	background: orange;
<<<<<<< Updated upstream
=======
	z-index: 2;
} 

.sticky {
	position: fixed;
	top: 70px;
	right: 50px;
>>>>>>> Stashed changes
}

.sticky {
	position: fixed;
	top: 50px;
	right: 50px;
	transition: 1s;

}


.logoText {
	font: 3rem Impact;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}



/* Showing selected photo full screen with caption */

.modalView {
	display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
}

.modalBackground {
	width: 100%;
	height: 100%;
	background: rgba(50, 50, 50, 0.9);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.modalImg {
	width: auto;
	height: 90%;
}

.closeModal {
	position: absolute;
	top: 50px;
	right: 50px;
}


