/* CSS StyleSheet */
html, body {height: 100%; margin: 0px; font-family: georgia, serif;}
.maintext {margin: 100px 50px; color: white; font-size: 2em;}

/*	Different Styleshees for different media
<link rel="stylesheet" media="screen and (min-width: 900px)" href="widescreen.css">
<link rel="stylesheet" media="screen and (max-width: 600px)" href="smallscreen.css">
*/




/* Toggle Links Styling */
:root {
--forest-main: rgba(100, 160, 15, 1);
--forest-sub: rgba(30, 160, 75, 1);
--forest-accent: rgba(250, 120, 30, 1);
--forest-font: rgba(255, 240, 210, 1);
--sunset-main: rgba(250, 120, 35, 1);
--sunset-sub: rgba(240, 200, 50, 1);
--sunset-accent: rgba(255, 240, 220, 1);
--sunset-font: rgba(50, 10, 30, 1);
}










/* Flexbox Menu*/
.image {
	background-image: url(/static/img/Susuki.jpg);
	background-repeat: no-repeat;
	background-position: center;
	-moz-background-size: cover;
	background-size: cover;
	height: 100%;
}
.image .container {
	display: flex;
	box-sizing: border-box;
	width: 100%;
	height: 100px;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}

.image .container .item {
	color: white;
	font-size: 1.2em;
	letter-spacing: 1px;
	box-sizing: border-box;
	border: 2px solid white;
	width: 150px;
	padding: 10px;
	text-align: center;
	border-radius: 0px 10px;
}
.image .container .item:hover {
	background-color: rgba(220, 220, 220, 0.3);
}
a {text-decoration: none;}



/* Navbar Links Styling */
.navbar {
	background-color: rgba(120, 120, 120, 0.6);
	overflow: hidden;
	width: 100%;
	height: 42px;
	font-size: 1.3em;
	margin-bottom: 20px;
	position: sticky;
}

a {
	float: left;
	color: white;
	text-decoration: none;
	padding: 10px 20px;
}

a:hover, a:active {
	background-color: rgba(150, 150, 150, 0.5);
}


.forestTheme {
	background-color: var(--forest-main);
	color: var(--forest-font);
}

.sunsetTheme {
	background-color: var(--sunset-main);
	color: var(--sunset-font);
}
