/* CSS StyleSheet */
html, body {height: 100%; margin: 0px; font-family: georgia, serif;}
.maintext {margin: 50px 50px 30px; font-size: 2em;}

/*	Different Styleshees for different media
<link rel="stylesheet" media="screen and (min-width: 900px)" href="widescreen.css">
<link rel="stylesheet" media="screen and (max-width: 600px)" href="smallscreen.css">
*/

/* Grid Styling */


.gridcontainer {
	display: grid;
	box-sizing: border-box;
	background: black;
	margin: 0 7vw 7vw;
	min-width: 800px;

	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(6, minmax(200px, auto));
	grid-gap: 20px;
}

.griditem {
	display:flex ;
	position: relative;
	overflow: hidden;
}

.griditem1 {
	grid-column: 1 / 3;
	grid-row: span 2;
}
.griditem2 {
	grid-column: span 2;
	grid-row: span 3;
}
.griditem3 {
	grid-row: span 4;
}
.griditem4 {
	grid-row: span 2;
}
.griditem5 {
	grid-column: span 2;
}
.griditem6 {
	grid-column: span 3;
	grid-row: span 2;
}

.imagestyle {
	min-width: 100%;
	object-fit: cover;
	object-position: center;
}

.imageoverlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(100, 100, 100, 0.5);
	opacity: 0;
}

.griditem-text {
	position: absolute;
	margin: 0;
	padding: 30px;
	font: 5rem impact;
	color: rgba(240, 240, 240, 0.9);
}
.text1 {
	top: 0;
	right: 0;
}
.text2 {
	bottom: 0;
	left: 0;
}
.text5 {
	top: 0;
	left: 0;
}



.imageoverlay:hover {
	transition: 0.5s;
	opacity: 1;
}
a.griditem:link, a.griditem:visited {
	margin: 0;
	padding: 0;
}



/* Toggle Links Styling */
:root {
--forest-main: rgba(100, 160, 15, 1);
--forest-sub: rgba(30, 160, 75, 1);
--forest-accent: rgba(250, 120, 30, 1);
--forest-font: rgba(255, 240, 210, 1);
--sunset-main: rgba(250, 120, 35, 1);
--sunset-sub: rgba(240, 200, 50, 1);
--sunset-accent: rgba(255, 240, 220, 1);
--sunset-font: rgba(50, 10, 30, 1);
}

/* Flexbox Menu*/
.image {
	background-image: url(/static/img/Susuki.jpg);
	background-repeat: no-repeat;
	background-position: center;
	-moz-background-size: cover;
	background-size: cover;
	height: 96%;
}
.image .container {
	display: flex;
	box-sizing: border-box;
	width: 100%;
	height: 100px;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}

.image .container .item {
	color: white;
	font-size: 2rem;
	letter-spacing: 2px;
	box-sizing: border-box;
	border: 2px solid white;
	width: 20vw;
	padding: 10px;
	text-align: center;
	border-radius: 0px 10px;
}
.image .container .item:hover {
	background-color: rgba(220, 220, 220, 0.3);
}
a {text-decoration: none;}



/* Navbar Links Styling */
.navbar {
	background-color: rgba(120, 120, 120, 0.6);
	overflow: hidden;
	width: 100%;
	height: 4%;
	font-size: 1.3em;
	margin-bottom: 20px;
	position: relative;
}

.navbar a {
	float: left;
	color: white;
	text-decoration: none;
	padding: 10px 20px;
	height: 100%;
}

.navbar a:hover, .navbar a:active {
	background-color: rgba(150, 150, 150, 0.5);
}


/* Toggle Theme Classes */
.forestTheme {
	background-color: var(--forest-main);
	color: var(--forest-font);
}

.sunsetTheme {
	background-color: var(--sunset-main);
	color: var(--sunset-font);
}
