/* CSS StyleSheet */
body {background-color: white; margin: 0px; font-family: helvetica;}



/* Toggle Links Styling */
:root {
}




/*	Different Styleshees for different media
<link rel="stylesheet" media="screen and (min-width: 900px)" href="widescreen.css">
<link rel="stylesheet" media="screen and (max-width: 600px)" href="smallscreen.css">
*/




/* Flexbox */
.image {
	background-image: url(/static/img/Susuki.jpg);
	background-repeat: no-repeat;
	background-position: center;
	-moz-background-size: cover;
	background-size: cover;
	height: 100%;
}

.image .container {
	display: flex;
	box-sizing: border-box;
	width: 100%;
	height: 100px;
	align-items: center;
	justify-content: space-between;
	padding: 20px;

}

.image .container .item {
	position: sticky;
	color: white;
	font-size: 1.2em;
	letter-spacing: 1px;
	box-sizing: border-box;
	border: 2px solid white;
	width: 150px;
	padding: 10px;
	text-align: center;
	border-radius: 0px 10px;
}

.image .container .item:hover {
	background-color: rgba(220, 220, 220, 0.3);
}

a {text-decoration: none;}



/* Links Styling */
.navbar {
	background-color: red;
	overflow: hidden;
	width: 100%;
	height: 42px;
	color: white;
	font-size: 1.3em;
	margin-bottom: 20px;
	position: sticky;
}
.navbar a {
	float: left;
	color: white;
	text-decoration: none;
	padding: 10px 20px;
}
.navbar a:hover, a:active {
	background-color: lightgrey;
}
