/* CSS StyleSheet */
body {background-color: white; margin: 0px; font-family: impact, serif;}



/* Toggle Links Styling */
:root {
}




/* Flexbox */


/* Links Styling */
.navbar {
	background-color: darkgrey;
	overflow: hidden;
	width: 100%;
	height: 42px;
	color: white;
	font-size: 1.3em;
	margin-bottom: 20px;
	position: sticky;
}
.navbar a {
	float: left;
	color: white;
	text-decoration: none;
	padding: 10px 20px;
}
.navbar a:hover, a:active {
	background-color: lightgrey;
}
